/* Menu.css */

.menu {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .menu h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .post img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .post h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .post button {
    background-color: teal;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .post button:hover {
    background-color: #007e7e;
  }
  
  /* Puedes agregar más estilos según tus preferencias aquí */
  